{{#if monkeys}}
    {{#each monkeys}}
        <div class="monkey">
            <h2>{{name}}</h2>
            <img src="{{image}}">
            <button>Info</button>
            <p style="display: none" id="{{id}}">
                {{info}}
            </p>
        </div>
    {{/each}}
{{else}}
    <h1>No monkeys</h1>
{{/if}}